<!-- nav-bar user sin login -->
<div th:fragment="header" class="sticky-top">
	<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">

		<div class="container-xl">
			<a class="navbar-brand" th:href="@{/}">Eclipse Clothes</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-between">

					<li class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/categorias}">Categorias</a>
					</li>

					<form th:action="@{/buscar}" class="d-flex" role="search" method="post">
						<input class="form-control me-2" name="nombre" type="search" required placeholder="buscar" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Buscar</button>
					</form>

					<div class="d-flex">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/carrito}">Carrito</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Iniciar
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/login}">Iniciar Sesión</a></li>
								<li><a class="dropdown-item" th:href="@{/register}">Regístrate</a></li>
							</ul>
						</li>
					</div>
				</ul>
			</div>
		</div>
	</nav>
</div>


<!-- nav bar user page login -->
<div th:fragment="header-page-register-and-login" class="sticky-top">
	<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
		<div class="container-xl">
			<a class="navbar-brand d-block mx-auto" th:href="@{/}">Eclipse Clothes</a>
		</div>
	</nav>
</div>

<!-- nav-bar user admin -->
<div th:fragment="header-admin" class="sticky-top">
	<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">

		<div class="container-xl">
			<a class="navbar-brand" href="#">Eclipse Clothes</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-between">
					<!-- items nav bar -->
					<div class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">Categorias</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">Productos</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">Ordenes</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">Usuarios</a>
						</li>
					</div>
					<!-- items nav bar -->
					
					<!-- items nav bar perfil -->
					<div class="d-flex">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								ADMIN - Jerson Medina
							</a>
							<ul class="dropdown-menu">
								<li>
									<img th:src="@{/images/jerson.jpg}" class="d-block mx-auto rounded-circle" style="width: 4rem; height: 4rem;" />
								</li>
								<li><a class="dropdown-item" href="#">Perfil</a></li>
								<li><a class="dropdown-item" href="#">Salir</a></li>
							</ul>
						</li>
					</div>
					<!-- items nav bar perfil -->
				</ul>
			</div>
		</div>
	</nav>
</div>


<!-- footer -->
<div th:fragment="footer">

	<div class="mt-5">
		<footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
			<div class="container-xl p-4">
				<!--Grid row-->
				<div class="row mt-4">
					<!--Grid column-->
					<div class="col-lg-4 col-md-12 mb-4 mb-md-0">
						<h5 class="text-uppercase mb-4">Sobre Eclipse Clothes</h5>

						<p>
							Somos una empresa con más de 20 años de experiencias en el mercado, ofrecemos productos
							mejor calidad a los mejores precios. Puedes visitar nuestra tienda para que conozacas más
							nuestros productos.
						</p>

						<p>
							Estamos encantados de atenderte, puede contactarnos a traves de nuestras redes sociales,
							te esperamos.
						</p>

						<div class="mt-4">
							<a type="button" class="btn btn-floating btn-warning btn-lg">
								<i class="bi bi-facebook"></i>
							</a>

							<a type="button" class="btn btn-floating btn-warning btn-lg">
								<i class="bi bi-twitter-x"></i>
							</a>

							<a type="button" class="btn btn-floating btn-warning btn-lg">
								<i class="bi bi-instagram"></i>
							</a>

							<a type="button" class="btn btn-floating btn-warning btn-lg">
								<i class="bi bi-tiktok"></i>
							</a>

						</div>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
						<h5 class="text-uppercase mb-4 pb-1">Encuéntranos en</h5>

						<ul class="fa-ul" style="margin-left: 1.65em;">
							<li class="mb-3">
								<span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Trujillo, Av.
									España 590</span>
							</li>
							<li class="mb-3">
								<span class="fa-li"><i class="fas fa-envelope"></i></span><span
									class="ms-2">info@eclipseclothes.com</span>
							</li>
							<li class="mb-3">
								<span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">
									+51 987654321
								</span>
							</li>
							<!--<li class="mb-3">
								<span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567
									89</span>
							</li>-->
						</ul>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
						<h5 class="text-uppercase mb-4">Horario de atención</h5>

						<table class="table text-center text-white">
							<tbody class="font-weight-normal">
								<tr>
									<td>Lunes a Viernes:</td>
									<td>8am - 9pm</td>
								</tr>
								<tr>
									<td>Sábados:</td>
									<td>8am - 1am</td>
								</tr>
								<tr>
									<td>Domingos:</td>
									<td>9am - 10pm</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--Grid column-->
				</div>
				<!--Grid row-->
			</div>
			<!-- Grid container -->

			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2020 Copyright:
				<a class="text-white" href="#">Eclipse Clothes</a>
			</div>
			<!-- Copyright -->
		</footer>
	</div>
	<!-- End of .container -->
</div>